openapi: 3.0.0
info:
  title: NoteHub API
  version: 1.0.0
  description: REST API для управління нотатками (NoteHub).

servers:
  - url: https://notehub-back.onrender.com
    description: Production server
  - url: http://localhost:3030
    description: Local development Server

tags:
  - name: Auth
    description: Аутентифікація, реєстрація та управління сесіями користувачів
  - name: Notes
    description: Управління нотатками користувача (CRUD операції)
  - name: User
    description: Управління профілем та налаштуваннями користувача

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT токен для авторизації

  schemas:
    User:
      type: object
      properties:
        _id: { type: string, example: '656644f6f1406198f2b71900' }
        username: { type: string }
        email: { type: string, format: email }
        avatar: { type: string, format: url }
        firstName: { type: string }
        lastName: { type: string }
        city: { type: string }
        postOfficeNum: { type: string }

    Note:
      type: object
      properties:
        _id: { type: string, example: '656644f6f1406198f2b71901' }
        userId: { type: string }
        title: { type: string, example: 'Купити продукти' }
        content: { type: string, example: 'Молоко, хліб' }
        tag: { type: string, enum: ['Todo', 'InProgress', 'Done'], default: 'Todo' }

    NoteCreate:
      type: object
      properties:
        title: { type: string, example: 'Нова нотатка' }
        content: { type: string }
        tag: { type: string, enum: ['Todo', 'InProgress', 'Done'] }
      required: ['title']
      
    Session:
      type: object
      properties:
        accessToken: { type: string }
        refreshToken: { type: string }
    
    LoginResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        session:
          $ref: '#/components/schemas/Session'

paths:
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        201: { description: User successfully registered }
        400: { description: Validation error }

  /auth/login:
    post:
      tags: [Auth]
      summary: User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        200:
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        401: { description: Invalid credentials }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout user
      security:
        - BearerAuth: []
      responses:
        204: { description: Successfully logged out (No Content) }
        401: { description: Unauthorized }

  /notes:
    get:
      tags: [Notes]
      summary: Get notes with pagination, search, and filter
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
          description: Номер сторінки.
        - name: perPage
          in: query
          schema: { type: integer, default: 15 }
          description: Елементів на сторінці.
        - name: tag
          in: query
          schema: { type: string, enum: ['Work', 'Personal', 'Meeting', 'Shopping', 'Ideas',  'Travel', 'Finance', 'Health',  'Important', 'Todo'] }
          description: Фільтрація за тегом.
        - name: search
          in: query
          schema: { type: string }
          description: Пошук за вмістом/заголовком.
      responses:
        200:
          description: List of notes with pagination metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  page: { type: integer }
                  perPage: { type: integer }
                  totalNotes: { type: integer }
                  totalPages: { type: integer }
                  notes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Note'
        401: { description: Unauthorized }
        
    post:
      tags: [Notes]
      summary: Create a new note
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteCreate'
      responses:
        201: 
          description: Note created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        400: { description: Validation error }
        401: { description: Unauthorized }

  /notes/{noteId}:
    parameters:
      - name: noteId
        in: path
        required: true
        schema: { type: string }
        description: ID нотатки.
    get:
      tags: [Notes]
      summary: Get note by ID
      security:
        - BearerAuth: []
      responses:
        200:
          description: Note found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        404: { description: Note not found }
        401: { description: Unauthorized }
        
    patch:
      tags: [Notes]
      summary: Update note by ID
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteCreate'
      responses:
        200:
          description: Note updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        404: { description: Note not found }
        401: { description: Unauthorized }
        
    delete:
      tags: [Notes]
      summary: Delete note by ID
      security:
        - BearerAuth: []
      responses:
        200: { description: Note deleted successfully }
        404: { description: Note not found }
        401: { description: Unauthorized }
  
  /users/me/avatar:
    patch:
      tags: [User]
      summary: Оновлення аватару користувача (завантаження файлу).
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  format: binary
                  description: Файл зображення для аватару.
      responses:
        200:
          description: Аватар успішно оновлено. Повертає URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: url
                    description: Новий URL аватару.
        400: { description: No file provided or Validation error }
        401: { description: Unauthorized }
